body {
    background-color: rgba(39, 179, 97, 0.219);
}
.VEGEMITE {
    Border: 4px solid yellow;
    border-radius: 60%;
}
@media screen and (min-width: 500px) {

    body { background-color: purple}
}
img, 
video
audio
iframe
 {
    max-width:100%;
}

